<h2>Лошади</h2>
<ul class="horses" >
    <li *ngFor="let horse of horses">
        <button type="button" [class.selected]="horse === selectedHorse" (click)="onSelect(horse)">
            <span class="badge">{{ horse.id }} </span>
            <span class="name">{{ horse.name }} </span>
        </button>
    </li>
</ul>

<div *ngIf="selectedHorse">
    <h2>Про {{selectedHorse.name | uppercase }}</h2>
    <div>id: {{selectedHorse.id}}</div>
    <div>
      <label for="horse-name">Кличка лошади: </label>
      <input id="horse-name" [(ngModel)]="selectedHorse.name" placeholder="кличка">
    </div>
  </div>